.container {
    display: flex;
    div:first-of-type {
        padding-right: 1em;
    }
}

ul, ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li.dashboard-setting {
        display: flex;
        padding: 0.5em 0.5em;
        border-bottom: 1px solid black;
        &:last-of-type {
            border-bottom: none;
        }
        div.order-buttons {
            width: 3em;
            padding-right: 1em;
            display: block;
        }
        div:last-of-type {
            margin-right: 0;
            margin-left: auto;
            padding-left: 1em;
        }
    }
}