.faded {
    font-size: 1rem;
}
.activity-calendar {
    width: 100%;
    position: relative;
    float: left;
}
.activity-calendar-header, .activity-calendar-row {
    width: 100%;
    position: relative;
    float: left;
    clear: both;
}
.activity-calendar-row {
    height: 8rem;
}

.activity-calendar-row:nth-child(2n) {
    background-color: rgba(255,255,255,0.1);
}

.activity-calendar-header {
    border-bottom: 1px solid black;
    padding: 1rem 0;
    margin: 0 0 0.5rem 0;
}

.activity-calendar-cell, .activity-calendar-header-cell{
    width: 14.25%;
    height: 100%;
    position: relative;
    float: left;
}

.activity-calendar-cell:nth-child(2n){
    background-color: rgba(255,255,255,0.05);
}

.activity-calendar-cell {
    cursor: pointer;
}

.activity-calendar-day-label {
    top: 0;
    left: 0;
}

.calendar-activity{
    display: block;
    padding: 0 5%;
    width: 95%;
    margin: 0 2.5% 0.4rem 2.5%;
    background-color: #531c9b;
    border-radius: 0.25rem;
    color: #fff;
    text-align: center;
    float: left;
    clear: both;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calendar-activity.completed-calendar-activity
{
    color: #fff;
    background-color: #1b5f32;
    border: 1px solid #22c558;
}